

body {
	background-color: #000000;
}

.main {
	background-color: #FFFFFF;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
	background-image: url("../images/traffic-gif-background.gif");
	background-repeat: no-repeat;
	background-size: contain;
}

.ryu, .hulk-ryu {
	width: 659px;
	height: 1px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-cool {
	display: none;
}

.ryu-ready, .hulk-ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}

.ryu-still, .hulk-ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing, .hulk-ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cool, .hulk-ryu-cool {
	background-image: url("../images/ryu-cool.gif");
}

.hulk-ryu {
	filter: hue-rotate(180deg);
	display: inline-block;
	float: right;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-cool, .hulk-hadouken {
	background-repeat: no-repeat;
}

.hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-cool, .hulk-hadouken {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
    float: right;
}

.hadouken, .hulk-hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 170px;
	left: 615px;
}

.hulk-hadouken {
	float: right;
}